/* Radial Out */
.hvr-radial-out {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 30%;
        right: 30%;
        border-radius: 40%;
        background-color: $color4;
        opacity: 0;
    }
    &:hover {
        &:before {
            -webkit-animation: hvr-out 0.5s;
            -moz-animation: hvr-out 0.5s;
            animation: hvr-out 0.5s;
        }
    }
}

/* Button */
.btn-wrapper {
    text-align: center;
}

.fph-btn {
    display: inline-block;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 38px;
    background-color: $color2;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background-color: $color4;
        text-decoration: none;
    }
}

.btn-1 {
    padding: 0 35px;
}

.btn-2 {
    border: 1px solid #fff;
    padding: 0 60px;
    &:before {
        background-color: #fff;
    }
    &:hover,
    &:active,
    &:focus {
        color: $color2;
        background-color: #fff;
        &:before{
            background-color: #fff;
        }
    }
}

.btn-3 {
    padding: 0 20px;
}

.btn-4 {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0 25px;
    &:hover,
    &:active,
    &:focus {
        color: $color2;
        background-color: #fff;
        &:before{
            background-color: #fff;
        }
    }
}




