/* form */

.fph-form-control {
    label {
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: #959595;
        font-weight: 300;
        margin-bottom: 10px;
    }
    margin-bottom: 20px;
    &.last {
        margin-bottom: 30px;
    }
}

