/* detail link */

a {
    @extend %transition;
    &:focus {
        outline: none;
    }
}

.detail {
    color: $color2;
    padding-left: 15px;
    position: relative;
    &:after {
        @extend %transition;
        position: absolute;
        content: "";
        @include triangle-right(5px, 5px, $color2);
        top: 5px;
        left: 0;
    }
    &:hover {
        color: $color1;
        &:after {
            border-left-color: $color1;
        }
    }
}

