/* back to top */
#back-top {
    @extend %transition;
    width: 40px;
    height: 40px;
    background-color: $color2;
    border-radius: 50%;
    position: absolute;
    bottom: 72px;
    left: 50%;
    margin-left: -20px;
    cursor: pointer;
    text-align: center;
    &:hover {
        background-color: $color4;
    }
    span {
        color: #fff;
        line-height: 36px;
        font-size: 28px;
    }
}
