@mixin overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @content;
}

/* background attachment */
.bg-attachment {
    position: relative;
    &:before {
        @include overlay {
            background: url(images/pattern.png) top left repeat;
        }
    }
    &.home {
        padding-bottom: 25%;
        background: url(images/our-vision.jpg) 0 150px / 100% auto no-repeat fixed;
        margin-bottom: 110px;
        .slogan {
            position: absolute;
            width: 29.71%;
            height: 60.47%;
            left: 50%;
            margin-left: -14.855%;
            top: 73.26%;
            background-image: url(images/from-asia-to-the-world.png);
            background-size: cover;
        }
    }
    &.career {
        padding-bottom: 38%;
        background: url(images/career.jpg) 0 75px / 100% auto no-repeat fixed;
        .slogan {
            position: absolute;
            width: 70%;
            height: 100%;
            left: 50%;
            margin-left: -35%;
            top: 0;
            background-image: url(images/from-asia-to-the-world-white.png);
            background-size: cover;
        }
    }
    &.service {
        padding-bottom: 45%;
        background: url(images/attachment-service.jpg) 0 75px / 100% auto no-repeat fixed;
        .overlay-black {
            @include overlay {
                background: rgba(0,0,0,.6);
            }
        }
        @include max(1023px) {
            padding: 50px 0;
        }
    }
}
