/* page header */
.fph-page-header {
    position: relative;
    padding: 131px 0 163px;
    .page-title,
    .desc {
        color: #fff;
        position: relative;
        z-index: 3;
    }
    .page-title {
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 5px;
    }
    .desc {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(233,72,32,.4);
    }
}

/* page intro */
.page-intro {
    position: relative;
    text-align: center;
    .wrapper {
        padding: 44px 20px 0;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(images/noise-bg.png) repeat;
        opacity: .9;
    }
    p {
        font-size: 24px;
        position: relative;
        z-index: 3;
        padding-bottom: 44px;
        border-bottom: 1px solid $color5;
    }
}

/* about page */
.about-page {
    .fph-page-header {
        background: url(images/about-page-title-bg.jpg) no-repeat;
        background-size: cover;
        .page-title,
        .desc {
            position: relative;
            z-index: 3;
        }
    }
}

.about-main-content {
    > .wrapper {
        padding: 95px 0 55px;
        border-bottom: 1px solid #f0f0f0;
        background: url(images/our.png) 0 65px no-repeat;
        @include max(799px) {
            background: none;
        }
    }
    .nav-tabs {
        border-bottom: none;
        padding-left: 240px;
        @include max(799px) {
            padding-left: 0;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #test-tab-content {
        margin-bottom: 35px;
        padding-top: 55px;
        .tab-pane{
            display: block;
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;
            &.active{
                overflow: visible;
                height: auto;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    #vision {
        margin-top: -30px;
        .section-vision-standard {
            padding-top: 0;
        }
        .bg-attachment.home {
            margin-bottom: 120px;
        }
    }
    #technology {
        .tab-pane-ỉntro {
            font-size: 18px;
            color: #959595;
            text-align: center;
            margin-bottom: 55px;
        }
    }
}

/* career page */
.career-page .fph-page-header {
    background: url(images/career-page-title-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    .page-title {
        margin-bottom: 15px;
    }
    .page-title,
    .desc {
        position: relative;
        z-index: 3;
    }
}

/* contact page */
.contact-page {
    .fph-page-header {
        padding-bottom: 175px;
        .page-title {
            color: $color2;
        }
        .desc {
            color: #959595;
        }
    }
    .contact-form {
        padding-bottom: 110px;
    }
}

/* service */
.service-page {
    .section-service {
        padding-top: 70px;
        padding-bottom: 45px;
        .row .col-md-4 {
            margin-bottom: 30px;
        }
    }
}
.page-header-wrapper.service {
    background: url(images/page-title-bg-service.jpg) no-repeat;
    background-size: cover;
    .page-intro {
        border-bottom: 1px solid $color5;
        .wrapper {
            border-bottom: none;
        }
    }
}

/* why us page */
.why-us-page {
    .fph-page-header {
        background: url(images/page-title-bg-why-us.jpg) no-repeat;
        background-size: cover;
    }
    .section-slider-contact {
        padding-top: 0;
    }
}
